.paymentMethod {
  color: white;
  background-color: #0a0a0a;
  width: 100%;
  height: 566px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.createNew {
  display: flex;
  width: 100%;
  height: 45px;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  padding-left: 27px;
  padding-right: 36px;
}
.newP1 {
  color: white;
  font-weight: 500;
}
.newP2 {
  color: #868894;
  font-weight: 400;
}
.methods {
  width: 92%;
  height: 262px;
  border-radius: 10px;
  border: none;
  background: #191919;
  flex-shrink: 0;
}
.methodTypes1 {
  display: flex;
  /* align-items: center;
  justify-content: center; */
  height: 44px;
  width: 100%;
  border-bottom: 1px solid #252629;
  
}
.methodTypes3 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 100%;
  border-bottom: 1px solid #252629;
}

.typesDiv {
  display: flex;
  padding-top: 12px;
  padding-bottom:8px ;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-left:12px ;
  padding-right: 22px;
}
.lastMethod {
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 46px;
  width: 100%;
}
.typesDiv1 {
  display: flex;
  padding-top: 8px;
  padding-bottom:14px ;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-left:12px ;
  padding-right: 22px;
}
.types {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
}
svg{
    width: 24px;
height: 24px;
flex-shrink: 0; 
}
